html,
body {
    font-family: 'Chivo Mono', monospace;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    background-color: #800080;
    padding-top: 1em;
    padding-bottom: 1em;
}

header h1 {
    color: white;
    margin: auto;
    letter-spacing: 2px;
    font-size: 2rem;
}

main {
    padding: 2.5em;
    background: url(./images/people.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
}

.card {
    padding: 1rem;
    max-width: 250px;
    border-radius: 10px;
    background-color: #d896ff86;
}

.card h2 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 1.3rem;
}

.mb {
    margin-bottom: 1.5rem;
}

.card input,
select {
    width: 100%;
    box-sizing: border-box;
    border: none;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 5px;
}

input[type="submit"] {
    color: white;
    background-color: #800080;
    border-radius: 10px;
}

input[type="submit"]:hover {
    background-color: #501374;
    font-weight: bold;
    cursor: pointer;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(./images/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 1rem) center;
}

footer {
    text-align: center;
    background-color: black;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageBox {
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    height: 250px;
    width: 250px;
    background: url(./images/imagem.jpg);
    background-size: cover;
}



.desc {
    display: inline-block;
    margin-left: 1.5em;
    color: white;
    text-align: left;
    max-width: 40%;
}